* {
background: #ED213A;  
padding: 0;
margin: 0;
}


ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: rgb(240, 222, 222);
    text-decoration: none;
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
}


li a:hover {
    color: black;
}

.logo {
    padding-left: 2.95rem;
    position: fixed;
}

.topnav{
    margin-top: 2.40rem;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    float: right;
    padding-right: 2.95rem;
}







