@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Stick+No+Bills:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:wght@300;400&family=Stick+No+Bills:wght@500&display=swap');


:root {
  --color-p: rgb(219, 218, 218);
  --color-h2: whitesmoke;
  --color-span: rgb(141, 143, 143);
  --background-footer: rgb(22, 22, 22);
  --margin-left: 40px;
  --font-size: 15px;

}


* { 
padding: 0;
margin: 0;
box-sizing: border-box;
}

span {
    font-size: 13px;
    color: var(--color-span);
}

figcaption {
    color: rgb(196, 192, 192);
}

h2 {
    color: var(--color-h2);
}

footer li {
  font-size: 15px;
  font-weight: 600;
  color: #7c7b7b;
  list-style: none;
}

.ten > h1 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}

.ten > h1:hover {
    text-shadow: red -3px 0;
    cursor: pointer; 
    transition: 0.2s;              
}

.trending_news > h1:hover {
    text-shadow: red -4px 0;
    cursor: pointer;               
}

p {
    color: var(--color-p);
}

.paragraph > h1 {
  color: rgb(238, 55, 55);
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
}

.paragraph > p {
  font-family: 'Kanit', sans-serif;
  font-size: 19px;
}

.paragraph > span {
  color: rgb(138, 137, 137);
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}


.trending_news > h1 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    width: 220px;
    transition: 0.2s;
}

.milesmorales {
    margin-top: -1px;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    color: rgb(105, 102, 102);
}

.trending > li figcaption {
    color: rgb(22, 22, 22);
}

.trending > li span {
    color: rgb(105, 102, 102);
}

.milesmoralespack {
    background: #0f0f0f;
    box-sizing: border-box;
}

.milesmoralespack li a {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  font-family: 'Kanit', sans-serif;
  color: #a8a8a8;
}

.discount > a {
    color: rgb(219, 218, 218);
    text-decoration: none;
    font-size: var(--font-size);
    font-family: 'Kanit', sans-serif;
}

.membership {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    position: absolute;
    margin-top: 80px;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.534);
}


.ten {
    margin: 0;
    margin-left: -330px;
    margin-bottom: 17px;
    padding-top: 4.5rem;
    width: 100%;
    justify-content: center;
    display: grid;
}

.ten h1 {
    font-size:34px; font-weight:500; text-transform:uppercase;
  }
  .ten h1:before {
      background-color: #c50000;
      border-radius: 0.25rem;
      content: '';
      display: block;
      height: 0.25rem;
      width: 60px;
      margin-bottom: 1.25rem;
  }


header {
    position: absolute;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px 100px;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    transition: 0.3s ease;
}


nav a {
    position: relative;    
    font-family: 'Kanit', sans-serif;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    margin-left: var(--margin-left);
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(243, 243, 243);
    border-radius: 5px;
    transform: scaleX(0);
    transition: 0.6s;
}

nav a:hover::after {
    transform: scaleX(1);
}

.marvelgif {
    margin: 0;
    background-image: url(./assets/images/comic.jpg);
    height: 90vh;
    width: 100%;
    display: grid;
    place-content: center;
    overflow: hidden;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

svg {
    width: 100vw;
    aspect-ratio: 16/9;
}



 #newsxmen {
    background-image: url(https://cdn.mos.cms.futurecdn.net/Hz6MRBkan4ZsEGgbFX9UUR-1200-80.jpg);
    background-repeat: no-repeat;
    margin: 0px;
    margin-top: 70px;
    margin-left: 30px;
    padding: 0px;
    padding-top: 22rem;
    padding-left: 4rem;
    width: 100%;
    height: 600px;
    display: grid;
}



div .buttons {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 1rem;
    padding-top: 13px;
}

.xmencontainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}


ul {
    margin-left: 3.3rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 620px;
    width: 100%;
    list-style: none;
    text-decoration: none;
    gap: 22px;
}



img.miles {
    box-shadow: 5px 5px 4px rgb(238, 42, 42);
}

figcaption,
span {
    margin-top: 1rem;
}

.trending_news {
    margin: 0;
    height: 600px;
    display: grid;
    position: absolute;
    top: 10px;
    margin-top: 56.3rem;
    justify-content: center;
    align-items: center;
    margin-left: 75.5rem;
    padding-top: 2rem;
    gap: 8px;
}

.trending {
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 535px;
    width: 100%;
    gap: 1rem;
}

.news1 {
    margin: 0 auto;
    margin-top: -60px;
    height: 190px;
    width: 350px;
}

.news2 {
    margin: 0 auto;
    height: 200px;
    width: 350px;
}






.button1
.button2 {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  button {
      width: 180px;
      height: 40px;
      cursor: pointer;
      font-size: var(--font-size);
      font-weight: bold;
      color: rgb(31, 29, 29);
      background: rgb(252, 32, 32);
      border: 1px solid black;
      box-shadow: 5px 5px 0 black,
          -5px -5px 0 black,
          -5px 5px 0 black,
          5px -5px 0 black;
      transition: 500ms ease-in-out;
  }
  
  button:hover {
      box-shadow: 20px 5px 0 black, -20px -5px 0 black;
  }
  
  button:focus {
      outline: none;
  }


  .trending_news h1 {
    font-size:34px; font-weight:500; text-transform:uppercase;
  }
  .trending_news h1:before {
      background-color: #c50000;
      border-radius: 0.25rem;
      content: '';
      display: block;
      height: 0.25rem;
      width: 60px;
      margin-bottom: 1.25rem;
  }

  .heroes {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 40px;
    width: 100%;
  }

  .choosehero > h1 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
  }

  .choosehero > h1:hover {
    text-shadow: red -3px 0;
    cursor: pointer;
    transition: 0.3s;
  }


  .gallery_heroes {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }

  .card {
    height: 500px;
    box-shadow: 5px 5px 20px black;
    margin: 50px;
    overflow: hidden;
    background-color: #0f0f0f;
  }    

  .card:hover {
    cursor: pointer;
  }

  .card img {
    height: 530px;
    width: 330px;
    border-radius: 3px;
  }

  .intro {
    background-color: rgb(27, 27, 27, 0.5);
    margin-top: 136px;
    height: 70px;
    width: 330px;
    padding: 6px;
    bottom: 240px;
    box-sizing: border-box;
    position: relative;
    color: rgb(255, 255, 255);
  }

  .intro > h1 {
    margin: 15px;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
  }

  .intro > p {
    margin: 10px;
    font-size: 19px;
    font-family: 'Kanit', sans-serif;
    visibility: hidden;
    opacity: 0;
  }

  .card:hover .intro {
    height: 280px;
    bottom: 310px;
    background-color: transparent;
    transition: 0.4s ease;
  }

  .card:hover p {
    opacity: 1;
    visibility: visible;
    color: rgb(255, 255, 255);
  }

  .card:hover img {
    transform: scale(1.1);
    transition: 0.4s ease;
  }


  .unlimited {
    background-color: #0f0f0f;
    height: 500px;
    margin: 0;
    padding: 50px;
    width: 60%;
    display: grid;
  }

  .description {
    height: 400px;
    width: 50%;
    padding: 32px;
  }

  .btnunlimited {
    margin: 30px;
  }

  .socialmedia {
    height: 30px;
    width: 410px;
    position: absolute;
    margin-left: 130px;
    margin-top: 65px;
  }

  .socialmedia > .social {
    padding: 0;
  }

  .social:hover > li {
    opacity: 0.5;
  }
  
  .social:hover > li:hover {
    opacity: 1;
    color: #d63838;
  }

  .social li {
    color: rgb(90, 90, 90);
    list-style-type: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 1%;
    cursor: pointer;
    margin-left: 4px;
    margin-bottom: 20px;
    transition: ease .3s;
    &:hover {
      color: rgba(167, 146, 129, 1);
    }
  }

  

  .wallpaper1 > img {
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
  width: 480px;
  margin-top: -450px;
  margin-left: 612px;
  filter: blur(3px);
  }


  .description > .paragraph {
    margin: 15px 6px;
  }

  .description > .header2{
    margin-left: 8px;
  }

  .wallpaper img {
    margin-top: -420px;
    margin-left:725px;
    height: 350px;
    width: 250px;
    position: absolute;
  }

  .wallpaper > img:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
  }

  figure img {
    height: 90px;
    width: 90px;
    margin-left: 25px;
    margin-bottom: 15px;
  }



  .cardnews {
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    margin-left: 1180px;
    margin-top: -370px;
    height: 380px;
    width: 330px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;

  }


  .contentnews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    margin-top: -5px;
    gap: 10px;
  }

  .contentnews > .title {
    color: #111827;
    font-size: 1.140rem;
    font-weight: 560;
  }

  .contentnews > p {
    color: #3a3f4b;
    font-family: 'Kanit', sans-serif;
    font-size: var(--font-size);
  }

  .contentnews > a {
    text-decoration: none;
    color: rgb(219, 218, 218);
    background-color: #c50000;
    width: 120px;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 4px;
    align-items: center;
  }

  .headerimage > img {
    object-fit: cover;
    width: 100%;
    margin: 0;
    margin-top: -70px;
  }
  

  .cardnews2 {
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    margin-left: 1530px;
    margin-top: -378px;
    height: 375px;
    width: 340px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;

  }

  .contentnews2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    margin-top: -5px;
    gap: 10px;
  }

  .contentnews2 > .title {
    color: #111827;
    font-size: 1.140rem;
    font-weight: 560;
  }

  .contentnews2 > p {
    color: #3a3f4b;
    font-family: 'Kanit', sans-serif;
    font-size: var(--font-size);
  }

  .contentnews2 > a {
    text-decoration: none;
    color: rgb(219, 218, 218);
    background-color: #c50000;
    width: 120px;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 4px;
    align-items: center;
  }

  .headerimage2 > img {
    object-fit: cover;
    width: 100%;
    margin: 0;
    margin-top: -52px;
    height: 193px;
  }

  .movies-comics {
    width: 100%;
    height: 60vh;
    margin-top: 50px;
    background-color: rgb(34, 7, 34);
    display: flex;
    flex-direction: row;
  }

  .movies-comics-info {
    width: 27%;
    height: 330px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 300px;
    margin-top: 100px;
  }

  .movies-comics-info img {
    margin: 10px;
  }

  .streaming {
    margin-top: 20px;
  }

  .streaming a {
    background-color: rgb(196, 192, 192);
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
    color: rgb(22, 22, 22);
    border-radius: 5px;
  }

  .streaming:hover {
    cursor: pointer;
  }


  .comic-wallpaper {
    background-color: rgb(34, 7, 34);
    width: 800px;
    height: 582px;
    margin: 0;
    margin-left: 56px;
    position: sticky;
  }


  .back-wallpaper img {
    object-fit: cover;
    width: 1034px;
    height: 582px;
    filter: blur(2px);
    border-radius: 10px;
  }

  .main-wallpaper {
    position: absolute;
    margin-top: -490px;
    margin-left: 370px;
    }
  

  .main-wallpaper img {
    height: 380px;
  }  

  .main-wallpaper img:hover {
    transform: scale(1.05);
    transition: 0.4s ease;
  }



.comic_pack {
  background-color: white;
  height: 350px;
  width: 1180px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 360px;
  margin-top: -40px;
}

.pack2 {
  margin-left: 26px;
}

.pack2 li img {
  margin-top: -40px;
  height: 250px;
  width: 170px;
  border-radius: 0px;
  background: #e0e0e0;
  box-shadow: 10px 10px 30px #a8a8a8,
             -5px -5px 20px #ffffff;
}

.pack2 li img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.4s;
}

.pack2 li a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-top: 5px;
  color: #3a3f4b;
  font-weight: 600;
  font-family: 'Kanit', sans-serif;
}

.pack2 li h3 {
  color: black;
  margin-top: 10px;
  font-size: var(--font-size);
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
}

.footerend {
  width: 100%;
  height: 400px;
}

footer {
  background-color: var(--background-footer);
  height: 450px;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}

  
footer .about {
  margin-left: 40px;
  justify-content: center;
  margin-left: 400px;
  height: 250px;
  width: 270px;
  display: flex;
  flex-direction: column;
}

footer .about ul {
  display: flex;
  flex-direction: column;
  margin: 30px;
  text-decoration: none;
}

footer .stream_footer {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 310px;
  margin-left: 10px;
  margin-bottom: 10px;
}

footer .stream_footer ul {
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-decoration: none;
}


.subs_footer {
  margin-left: 20px;
  margin-top: 40px;
  width: 330px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.marvel_insider > h3 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  font-size: var(--font-size);
  font-weight: 600;
  color: #a8a8a8;
}

.marvel_insider > span {
  color: #7c7b7b;
  font-family: 'Kanit', sans-serif;
  font-size: 13px;
}

.marvel_unlimited > span {
  color: #7c7b7b;
  font-family: 'Kanit', sans-serif;
  font-size: 13px;
}

.marvel_unlimited > h3 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
  font-size: var(--font-size);
  font-weight: 600;
  color: #a8a8a8;
}

.icon_footers {
  height: 150px;
  margin-left: -30px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.iconfooter1 img {
  width: 55px;
  height: 35px;
  margin-top: 10px;
}

.iconfooter2 img {
  width: 55px;
  height: 40px;
}

.footer_logo img {
  margin-top: -30px;
  margin-left: 290px;
  position: absolute;
}

footer .about li {
  font-weight: 700;
  color: #a8a8a8;
  font-family: 'Kanit', sans-serif;
}

footer .stream_footer li {
  color: #a8a8a8;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-size: var(--font-size);
}


.socialmedia_footer {
  height: 100px;
  width: 200px;
  margin-left: -20px;
}

.socialmedia_footer > h3 {
 margin: 30px;
 font-size: 16px;
 font-weight: 600;
 font-family: 'Anton', sans-serif;
 letter-spacing: 1px;
 color: #a8a8a8;
}

.socialmedia_footer ul {
  position: relative;
  margin: 0; 
  height: 10px;
  margin-top: -70px;
}

.social_footer:hover > li {
  opacity: 0.5;
}

.social_footer:hover > li:hover {
  opacity: 1;
  color: #d63838;
  transition: 0.3s;
}


.social_footer li {
  color: rgb(90, 90, 90);
  list-style-type: none;
  display: inline-block;
  width: 10px;
  height: 50px;
  padding: 1%;
  cursor: pointer;
  margin-left: 4px;
  margin-bottom: 20px;
  transition: ease .3s;
  &:hover {
    color: rgba(167, 146, 129, 1);
  }
}

.privacy_footer {
  position: absolute;
  margin-top: 340px;
  margin-left: 480px;
  height: 20px;
  width: 900px;
}

.socialmedia_footer > h3 {
  letter-spacing: 2px;
}

.privacy {
  height: 10px;
  list-style: none;
  text-decoration: none;
}

.privacy li {
  margin-top: -30px;
  color: #7c7b7b;
  font-family: 'Kanit', sans-serif;
  font-size: 13px;
  font-weight: 300;
}


@media screen and (min-width: 376px) and (max-width: 768px) {
  header, nav {
    display: flex;
}

header {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 768px;
}

header img {
  margin-top: -50px;
}
header nav a {
  font-size: 16px;
  margin-top: 14px;
}

.marvelgif {
  height: 600px;
}

svg {
  margin-top: 130px;
}

#newsxmen{
  margin: 0;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background-image: url(https://media.s-bol.com/z92EKqx9VVrY/JyRqE7l/549x840.jpg);
}

.xmencontainer >h2 {
  color: #64235c;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 2px;
}

.xmencontainer > p {
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  color: #080808;
}

.ten {
  margin-left: 2px;
  justify-content: center;
}

.ten > h1 {
  font-size: 30px;
  margin-top: -30px;
}

.ten > span {
  margin-top: -1px;
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
}

.milesmoralespack {
  margin: 0;
}

.milesmoralespack ul {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  justify-content: space-around;
}

.milesmoralespack li img {
  margin-top: -40px;
  margin-left: 5px;
  height: 200px;
  width: 130px;
}

.milesmoralespack li a {
  font-size: 15px;
  margin-left: 10px;
}

.milesmoralespack li span {
  margin-left: 10px ;
}

.gallery_heroes {
  display: flex;
  flex-direction: column;
}

.unlimited {
  width: 100%;
}

.description {
  margin-left: -50px;
  margin-top: -40px;
  width: 500px;
}


.cardnews {
  margin: 0;
  margin-top: 100px;
  margin-left: 70px;
  position: relative;
}

.cardnews2 {
  margin: 0;
  margin-left: 70px;
  position: relative;
}

.wallpaper1 {
  display: none;  
}

.trending_news {
  display: none;
}

.socialmedia {
  margin-left: -42px;
}

.movies-comics-info {
  margin: 0;
  margin-left: 30px;
}

.movies-comics-info img {
  display: none;
}

.paragraph > span {
  font-weight: 500;
}

.streaming > a {
  font-size: 11px;
}

.comic_pack {
  margin: 0;
}

.back-wallpaper img {
  width: 270px;
}

.main-wallpaper {
  display: none;
}

.pack2 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 3em;
  margin-left: 15px;
}

.pack2 li a {
  font-size: 13px;
}

footer {
  margin-top: 560px;
}

.footer_logo img {
  margin: 0;
  margin-top: -200px;
  margin-left: 200px;
}


}



